p {
    margin: 0;
}

/* MAIN FEED */
.feed {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: 100%;
}

/* INDIVIDUAL POSTS */

.post-card {
    border: 1px solid rgba(219,219,219,255);
    box-shadow: 0px 7px 27px -12px rgba(0,0,0,0.75);
    border-radius: 7px;
    height: 75vh;
    width: 25%;
    min-width: 300px;
    margin-top: 2%;
}

.post-header {
    display: flex;
    align-items: center;
    padding: 10px;
}

.post-profile-picture {
    height: 35px;
    width: 35px;
    border-radius: 10%;
    margin-right: 5px;
}

.post-user {
    margin-right: auto;
    font-size: 1rem;
}

.post-menu {
    height: 30px;
    width: 30px;
}

.post-image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 70%;
    width: 100%;
}

.post-interact {
    display: flex;
    align-items: center;
    column-gap: 20px;
    margin-top: 10px;
    margin-left: 15px;
}

.like-post, .comment-post, .share-post, .save-post, .post-menu, .submit-comment {
    cursor: pointer;
}

/* POST INTERACTION */

.comment-post {
    padding-bottom: 1px;
}

.share-post {
    margin-right: auto;
}

.save-post {
    margin-right: 15px;
}

.post-information {
    display: flex;
    flex-direction: column;
    margin-left: 3%;
    margin-top: 2%;
    row-gap: 8px;
}

.post-likes {
    font-size: .9rem;
    font-weight: 600;
}

/* COMMENTS */

.post-comments {
    display: flex;
    align-items: center;
    column-gap: 5px;
    font-size: .9rem;
    margin-bottom: auto;
}

.post-caption {
    display: flex;
    column-gap: 5px;
    align-items: center;
}

.post-caption > h2 {
    font-size: 1rem;
    margin: 0;
}

.post-caption > p {
    font-size: .9rem;
    margin: 0;
}

.comment-user {
    font-weight: 600;
}

.add-comment {
    display: flex;
    align-items: center;
}

.input-comment {
    border: none;
    border-top: 1px solid rgba(239,239,239,255);
    width: 80%;
    height: 20px;
    margin-right: auto;
}

.input-comment:focus {
    outline: none;
}

.submit-comment {
    border: none;
    background: white;
    color: rgba(23,149,246,255);
    font-size: 1rem;
    font-weight: 500;
    margin-right: 5px;
}