header {
    border-bottom: 1px solid rgba(219,219,219,255);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 44px;
    padding: 0 16px;
    margin-top: 1px;
}

.header {
    width: 100%;
}
  
  .header-logo {
    width: 103px;
    height: 31px;
    display: block;
    margin-right: auto;
}
  
.nav-list {
    list-style-type: none;
    display: flex;
    column-gap: 16px;
}

